@tailwind base;
@tailwind components;
@tailwind utilities;

.back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.back-button:hover .label {
  width: 60px;
  opacity: 1;
  margin-left: 10px;
}

.back-button .icon {
  transition: all 0.3s ease-in-out;
}

.back-button .label {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  margin-left: 0;
}
